*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    gap: 50px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
    color: white;
}

.Empresa{
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
flex-wrap: wrap;
}

header img{
    width: 150px;
}

.List{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header nav ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style: none;
    flex-wrap: wrap;
}

header nav li:hover{
    transform: scale(1.05);
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: black;
}

.Contenedor_Padre{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}
.Contenedor_PadreV2{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;;
}
.Contenedor_sayayin{
    display: flex;
    gap: 10px;
}
.tarjeta img{
    object-fit: cover;
    width: 200px;
}

.tarjeta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    object-fit: cover;
    background-color: white;
    border-radius: 20px;
}


main{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 5px;
    flex-wrap: wrap;
    flex-direction: row;
}

body{
    background-color: black;
}

section{    
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(139, 138, 138);
    padding: 10px;
    border-radius: 20px;
    flex-wrap: wrap;
    margin: 2px;
}

section p{
    font-size: 18px;
}

.Personita img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 8px;
}
